body {
  background-color: #d6e6f2;
  text-align: center;
}

.navbar {
  background-color: #b9d7ea;
}

.navbar-nav {
  text-align: center;
}

#about-me,
#projects,
#contact {
  margin: 30px 0;
  padding: 0 5%;
}

#footer {
  border-top: 1px solid #769fcd;
}
.profileImage {
  border-radius: 30%;
}

.social-icons {
  margin: 10px;
}
.social-icons a {
  margin: 10px;
}
