body {
  background-color: #d6e6f2;
  text-align: center;
}

.navbar {
  background-color: #b9d7ea;
}

.navbar-nav {
  text-align: center;
}

#about-me,
#projects,
#contact {
  margin: 30px 0;
  padding: 0 5%;
}

.profileImage {
  border-radius: 30%;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.social-icons {
  margin: 10px;
}
.social-icons a {
  margin: 10px;
}
