.about-me {
  height: 500px;
  padding-top: 30px;
  position: relative;
}

.about-me-left-container {
  position: absolute;
  top: 0;
  left: 0;
  /* background: #d3e3fc; */
  width: 300px;
  height: 100%;
}

.about-me-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-me-image img {
  border-radius: 50%;
}

.about-me-right-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: calc(100% - 300px);
  height: 100%;
}

.about-me-text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.icons {
  padding: 0;
}

.icons li {
  display: inline;
  margin: 10px;
}
