.nav {
  background-color: #d3e3fc;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-item {
  margin: 5px;
  display: inline;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 4px solid #77a6f7;
  transition: all 0.1s ease-out;
}
